{%extends "main.html" %}
{%block content %}
{% for member in members %}
    <div class="events-profile">
        <h2>{{ member.name }}</h2>
        <p>{{ member.Registrationnumber }}</p>
        <p>{{ member.course }}</p>
         <p>{{ member.department }}</p>
        <p>{{ member.photo}}</p>
        <p>{{ member.phonenumber }}</p>
        <a href="{% url 'update_event' member.id %}">Edit</a>
        <a href="{% url 'delete_event' member.id %}" class="text-decoration-none text-dark badge bg-warning">Delete</a>


{%endblock %}